 
header {
    background-color:rgb(102,187,34);  
  }
header {
    padding: 20px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
  }
form {
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    
  
  }
label{
    align-items: initial;
}
h1{
   align-items: center;

}
p{
    font-size: medium;
}
input{
    height: 100%;
    padding: 12px;
    text-align: left;
    border-radius: 1px #ccc;

}
ul{
    align-items:center;
   justify-content: space-around;
   display: flex;
    
}
body > section> div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}



button {
    padding: 5px;
    border: 1px solid rgb(116, 116, 116);
    cursor: pointer;

  }
section{
   align-items: center;
   justify-content: space-around;
   display: flex;
   color: black;
   font-size: 25px;

}
body > main#form > h1 { 
    text-align: center;
}
body > section > img { 
    width: 180px;
    margin: 5px 0 0 5px;
    height: 180px;
}
body > section > div > img { 
    width: 20px;
    margin: 5px 0 0 5px;
    height: 20px;
}
body > main > article > img {
    max-width: 150px;
}
h2{
    font-weight: bold;
    font-size: medium;
    flex-direction: column;


}
body > main#form > form > input, textarea {
    padding: 10px;
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    
    
}
body > section > div {
    display: flex;
    flex-direction: row;
}

body > section > div > input {
    width: 45%;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 8px;
}